<div class="main">
    <!-- Modal for new matrix -->
    <div id="help-command" class="modal">
        <span onclick="document.getElementById('help-command').style.display='none'"
        class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <div class="modal-content animate" id="help-command-info">
            <div class="pop-up-form-container">
                <table class="table-command-help">
                    <thead>
                        <tr>
                            <th>command/-s</th><th>action</th>
                        </tr>
                    </thead>
                    <tbody id="help-command-table">
                        <tr>
                            <td>cls</td><td>clears algebra window</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
