{% extends "navbar.html" %}
{% block navbar %}
<div class="main">
    <div id="general-help">
        <h1 class="section-header d-none d-sm-block" id="help-header">general help menu</h1>
        <h1 class="section-header-small d-block d-sm-none">general help menu</h1>
        <div class="section-content">
            <div class="help-chunk">
                {% for row in help_content['help_info'] %}
                <div id="help-intro-div">{{ row }}</div>
                {% endfor %}
            </div>
            
            <div class="help-chunk">
                <table class="table-general-help">
                    <thead>
                        {{ help_content['table_header']|safe}}
                    </thead>
                    <tbody>
                        {% for row in help_content['table_content'] %}
                        {{ row }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'modals.html' %}
</div>
<script src="{{ url_for('static', filename='js/script_help.js') }}" defer></script>
{% endblock %}
