{% extends "navbar.html" %}
{% block navbar %}
<div class="main row g-0">
    <div class="main-column col-sm-7" id="algebra">

        <h1 class="section-header d-none d-sm-block" id="algebra-header">algebra</h1>
        <h1 class="section-header-small d-block d-sm-none">algebra</h1>
        
        <div class="section-content mh-100">
            <span id="clearfieldicon">
                <input type="text" id="user-input" placeholder="enter your expression"><span id="user-input-clear">x</span>
            </span>
        </div>

    </div>

    <div class="main-column col-sm-5" id="storage">
        
        <h1 class="section-header d-none d-sm-block" id="storage-header">storage</h1>
        <h1 class="section-header-small d-block d-sm-none">storage</h1>
        
        <div class="section-content mh-100 mw-100">
            {% for matrix_data in matrices_list %}
                <div class="deleteicon">
                    <div class="algebra-chunk" id="storage-matrix-{{loop.index0}}">
                        <span id="storage-cross-{{loop.index0}}">x</span>
                        <p class="app-answer" data-name="{{matrix_data.0}}">{{matrix_data.1}}</p></div>
                    </div>
            {% endfor %}
        </div>
        
        <div id="add-matrix" class="mw-100">add</div>
    </div>

    
    {% include 'modals.html' %}
</div>
    
<script src="{{ url_for('static', filename='js/module.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

{% endblock %}