{% extends "navbar.html" %}
{% block navbar %}
<div class="main">
    <div class="main-column" id="algebra"><h1 class="section-header" id="algebra-header">algebra</h1>
        <div class="section-content">
            <!-- <div class="algebra-chunk">
                <p class="app-answer">
                    \(\begin{pmatrix}\frac{4}{3}& -\frac{2}{3}& -\frac{1}{2}\\-\frac{7}{6}& \frac{1}{2}& -\frac{1}{2}\\1& \frac{2}{3}& \frac{2}{3}\\\end{pmatrix}\)
                </p>
            </div> -->

            <span id="clearfieldicon">
                <input type="text" id="user-input" placeholder="enter your expression"><span id="user-input-clear">x</span>
            </span>
        </div>
    </div>

    <div class="main-column" id="storage">
        <h1 class="section-header" id="storage-header">storage</h1>
        <div class="section-content">
            {% for matrix_data in matrices_list %}
                <span class="deleteicon">
                    <div class="algebra-chunk" id="storage-matrix-{{loop.index0}}">
                        <span id="storage-cross-{{loop.index0}}">x</span>
                        <p class="app-answer" data-name="{{matrix_data.0}}">{{matrix_data.1}}</p></div>
                </span>
            {% endfor %}
            <div id="add-matrix">add</div>
        </div>
    </div>

    
    {% include 'modals.html' %}
</div>
    
<script src="{{ url_for('static', filename='js/module.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

{% endblock %}